# import functions
import(httr)
importFrom(XML, xmlTreeParse, xmlParse, xmlToList)
importFrom(digest, digest)
importFrom(tools, file_ext)
importFrom(utils, URLencode)

# export functions
## user sign-in functions
export(scribd_query)
export(scribd_signup)

## docs
export(doc_upload)
export(upload_thumbnail)
export(conversion_status)
export(doc)
export(doc_stats)
export(doc_settings)
export(doc_change)
export(doc_delete)
export(doc_thumbnail)
export(doc_embed)

## doc search
export(docs_list)
export(docs_search)
export(docs_categories)
export(docs_featured)
export(docs_browse)

## collections
export(coll_list)
export(coll_create)
export(coll_update)
export(coll_delete)
export(coll_add)
export(coll_remove)
export(coll_docs)

## print methods
S3method(print, scribd_collection)
S3method(print, scribd_doc)
